.about {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    h3 {
        font-size: 2rem;
    }
    p {
        color: $darkGray;
        opacity: 0.9;
    }
    .bamboo-stand{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        margin: 2rem 0 0 0;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
        h4 {
            font-size: 1rem;
        }
        span {
            color: $moderateCyan;
        }
        p {
            color: $darkGray;
            opacity: 0.9;
            font-size: 0.82rem;
            line-height: 1.5;
        }
        .desktop-row {
            h3 {
                font-size: 2rem;
            }
            div {
                display: flex;
                h3 {
                    margin-right: 1rem;
                }
            }
            .select-reward {
                margin-top: 1rem;
                background-color: $moderateCyan;
                border-style: none;
                height: 2.7rem;
                width: 8rem;
                border-radius: 40px;
                color: white;
                font-weight: bold;
                font-size: 0.7rem;
            }
            .other {
                margin-top: 1rem;
                background-color: rgb(170, 165, 165);
                border-style: none;
                height: 2.7rem;
                width: 8rem;
                border-radius: 40px;
                color: white;
                font-weight: bold;
                font-size: 0.7rem;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .about {
        padding: 2rem 5rem;
        width: 50%;
        .bamboo-stand {
            width: 100%;
            margin: 2rem 0 0 0;
            .desktop-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .select-reward {
                    margin-top: 0;
                }
            }
        }
    }
}

