.content {
    background-color: white;
    width: 90%;
    margin: -3rem auto 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    .mastercraft{
        position: relative;
        img {
            display: table-caption;
            margin: -2rem auto 0 auto;
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-top: 1.5rem;
        width: 70%;
        text-align: center;
        font-size: 1.4rem;
    }
    p {
        text-align: center;
        width: 95%;
        color: $darkGray;
        opacity: 0.9;
        line-height: 1.7;
    }
    .cta1 {
        display: flex;
        margin-top: 0.8rem;
        margin-bottom: 2rem;
        .bookmark {
            display: none;
        }
        button {
            background-color: $moderateCyan;
            height: 3.9rem;
            width: 15rem;
            border-radius: 40px;
            border-style: none;
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
            margin-right: 0.8rem;
        }
        img {
            height: 3.9rem;
            transition: transform 300ms ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
        .filter-green{
            filter: invert(57%) sepia(64%) saturate(386%) hue-rotate(127deg) brightness(95%) contrast(90%);
        }
    }
}


@media only screen and (min-width: 992px){
    .content {
        width: 50%;
        min-width: 41rem;
        margin: -6rem auto 0 auto;
        .cta1 {
            width: 90%;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            button {
                background-color: $moderateCyan;
                height: 3.9rem;
                width: 15rem;
                border-radius: 40px;
                color: white;
                font-weight: bold;
                font-size: 0.9rem;
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgb(232, 242, 250);
                border-radius: 30px;
                .bookmark {
                    display: inline;
                }
                img {
                    // padding-left: 11rem;
                    padding-right: 0.2rem;
                }
                p {
                    padding: 1rem;
                    margin-top:0;
                    margin-bottom:0;
                }
            }
        }
    }
}
