html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Commissioner', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.noscroll {
    overflow: hidden;
}

