.header {
    background-image: url("../../images/image-hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18.75rem;
    .desktop-menu {
        display: none;
    }
    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        z-index: 9000;
        .logo {
            padding-top: 1.7rem;
            font-size: 1.5rem;
            color: white;
            margin-right: 9rem;
        }
        .hamburger {
            padding-top: 2.6rem;
            span {
                display: block;
                height: 2px;
                width: 0.8rem;
                background-color: white;
                margin-bottom: 0.2rem;
                transition: transform 200ms ease-in-out;
                transform-origin: -0.7px 1px;
            }
        }
    }

    .open {
        .hamburger {
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .menu {
        position: relative;
        z-index: 1;
        display: grid;
        background-color: #fff;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        border-radius: 10px;
        height: 13.2rem;
        opacity: 0;
        transition: all 300ms ease-in-out;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $black;
            padding-left: 1.8rem;
        }
        > a:nth-child(2){
            border-top: 1px solid lightcyan;
            border-bottom: 1px solid lightcyan;
        }
    }
    .notSelected {
        opacity: 0;
        visibility: hidden;
    }
    .selected {
        visibility: visible;
        opacity: 1;
        transition: all 300ms ease-in-out;
    }


}

@media only screen and (min-width: 992px) {
    .header {
    background-image: url("../../images/image-hero-desktop.jpg");
    height: 25rem;
        .top-header {
            align-items: center;
            .logo {
                margin-right: 3rem;
            }
            .desktop-menu {
                display: inline;
                margin-top: 3rem;
                margin-left: 17rem;
                a {
                    text-decoration: none;
                    color: white;
                    margin-left: 3rem;
                }
            }
            .hamburger {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .desktop-menu {
            display: none;
        }
        .hamburger {
            display: block;
        }
    }
}

.overlay {
    opacity: 0;
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($darkGray, transparent);
}
