
.notSelected {
    opacity: 0;
    visibility: hidden;
}

.selected {
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal {
    position: fixed;
    z-index: 10000;
    top: 5rem;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding: 1rem 1.7rem;
    color: $darkGray;


    .modal-title {
        h3 {
            color: $black;
        }
        display: flex;
        justify-content: space-between;
    }
    .pledge-no-rewards{
        border-radius: 10px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin-bottom: 1rem;
        .pledge-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 1rem;
            p, .litle-margin {
                margin-left: 0.5rem;
            }
        }
        .color-vert {
            color: $moderateCyan;
        }

        input[type="radio"] {
            display: none;
        }
        input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.3rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: gray;
        }
        input[type="radio"]:checked + *::before {
        background: radial-gradient($moderateCyan 0%, $moderateCyan 40%, transparent 50%, transparent);
        border-color: $moderateCyan;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            .flex-column {
                display: flex;
                flex-direction: column;
            }
            h4 {
                margin-right: 1rem;
                font-weight: bold;
            }
        }

    }
    .radio-select {
        display: none;
    }
    .radio-selected {
        display: inline;
    }
}

.fade-general {
    z-index: 9500;
}
