.price {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    h3 {
        font-size: 2rem;
    }
    p {
        color: $darkGray;
        opacity: 0.9;
    }
    > span {
        width: 30%;
        height: 1px;
        margin: 1rem auto 1rem auto;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }

// Progress bar https://codepen.io/evawythien/pen/jegRxN
    .container {
        margin: 0 auto;
        margin-top: 1rem;
        width: 80%;
        text-align: center;
      }
    .progress2 {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    }

    .progress-bar2 {
    height: 0.8rem;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    }
    .progress-moved .progress-bar2 {
    width: 85%;
    background-color: $darkCyan;
    opacity: 0.7;
    animation: progressAnimation 6s;
    }

    @keyframes progressAnimation {
    0%   { width: 5%; background-color: $darkCyan;}
    100% { width: 85%; background-color: $darkCyan; }
    }
}

@media only screen and (min-width:"992px") {
    .price {
        text-align: start;
        width: 50%;
        min-width: 41rem;
        .desktop-row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
